{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'dist/output.css' %}">
    <link rel="stylesheet" href="{% static 'dist/style.css' %}">
</head>
<body>
    <nav class="shadow-lg p-5">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="#" class="flex">
                <img class="h-10 mr-3" src="{% static 'images/wallet.png' %}" alt="">
                <span class="self-center text-xl font=semibold">Expense Tracker</span>
            </a>    
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    
</body>
</html>